<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="https://s3.amazonaws.com/litlbot-assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/litlbot-assets/css/pricing.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://s3.amazonaws.com/litlbot-assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="https://s3.amazonaws.com/litlbot-assets/css/agency.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <div id="container" style="position:relative;">
    <div id="div1" style="position:absolute; top:0; left:0;">

    </div>
    <div id="div2" style="position:absolute; top:0; left:0;"></div>
</div>

    <!-- Navigation -->
    <div class="background_container">
        {% block navbar %}
            <nav id="mainNav" class="navbar navbar-default navbar-custom">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="/">
                            <img src="https://s3.amazonaws.com/litlbot-assets/logo.png" style="height: 48px;width: 48px"/> {{ bot_name }}
                        </a>
                    </div>

                    {% block menu %}
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right menu_links">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                {% block navbar_links %}{% endblock %}
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    {% endblock %}
                </div>
                <!-- /.container-fluid -->
            </nav>
        {% endblock %}
        {% block background_container_element %}{% endblock %}

    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="font-size: 26px">
                    <img src="https://s3.amazonaws.com/litlbot-assets/logo.png" style="height: 40px;width: 40px"/> {{ bot_name }}
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        {% block footer_links %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://s3.amazonaws.com/litlbot-assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://s3.amazonaws.com/litlbot-assets/js/bootstrap.min.js"></script>

    {% block javascript %}{% endblock %}

</body>

</html>
