
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Attendance Bot : Leave tracking bot for Slack">
    <meta name="description" content="Attendance bot is the simplest way to know when someone is on leave or working from home.">
    <meta name="keywords" content="leave, attendance, presence, vacation, work from home, wfh, slack, slack bot, slackbot, time tracking">
    <meta property="og:title" content="Attendance Bot : Leave tracking bot for Slack" />
    <meta property="og:description" content="Attendance bot is the simplest way to know when someone is on leave or working from home." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.attendancebot.com/" />
    <meta property="og:image" content="https://dl.dropboxusercontent.com/u/3259703/attendancebot-og-image.png" />
    <meta name="google-site-verification" content="7evfI16bmc8soV5ZvXPSgRVq1zw-ddgo-0pQdEH_u1U" />
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/static/assets/img/attendance_favicon.png">

    <title>Edubot : Education for Students</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/pricing.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/assets/css/attendance.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <div id="container" style="position:relative;">
    <div id="div1" style="position:absolute; top:0; left:0;">

    </div>
    <div id="div2" style="position:absolute; top:0; left:0;"></div>
</div>

    <!-- Navigation -->
    <div class="background_container">
        
            <nav id="mainNav" class="navbar navbar-default navbar-custom">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="/">
                            <img src="/static/assets/img/attendance-logo.png" style="height: 64px;width: 64px"/> Edubot
                        </a>
                    </div>

                    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right menu_links">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                <li>
                                    <a href="https://edubot.freshdesk.com/support/home" target="_blank">Support</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    
                </div>
                <!-- /.container-fluid -->
            </nav>
        
        
    <!-- +++++ Welcome Section +++++ -->
    <header>
   <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Success!</div>
                <div class="intro-lead-in">EduBot is added to your team, it has sent you a direct message to get started</div>
            </div>
        </div>
    </header>


    </div>

    

    <style type="text/css">
        .h-divider{
             margin-top:5px;
             margin-bottom:5px;
             height:1px;
             width:100%;
             border-top:1px solid gray;
        }

        .mt {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .pt {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="font-size: 26px">
                    <img src="/static/assets/img/attendance-logo.png" style="height: 40px;width: 40px"/> Attendance Bot
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li><a href="/attendance/privacy">PRIVACY POLICY</a>
                        </li>
                        <li><a href="/attendance/tos">TERMS OF USE</a>
                        </li>
                        <li><a href="mailto:hi@attendancebot.com?Subject=Hello!">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/assets/js/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->






</body>

</html>

