{% extends "landing/litlbot_base.html" %}

{% block navbar_links %}
    <li>
        <a class="page-scroll" href="#features">Features</a>
    </li>
{% endblock %}

{% block background_container_element %}
    <header>
        <div class="container">
          <div class="intro-text">
            <div class="intro-heading">Next generation <br><span class="intro-more">'in classroom'</span><br>experience</div>
            <div class="intro-lead-in">Litl is a Slack bot that enables realtime interaction with students in class,
                <br>for a more personlized learning
            </div>
            <a href="/slack/edubot/register/auth/" name="add-to-slack"><button id="Top Button" class="add-to-slack-top-button ga-slack-button waggle"><img class='slack-top-img' src="https://s3.amazonaws.com/litlbot-assets/slack.svg"/>  ADD TO SLACK</button></a>
          </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <style type="text/css">
        .pt {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>



    <!-- +++++ Information Section +++++ -->

    <section id="features" class="container pt">
        <div class="row pep-feature">
            <a name="features"></a>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <img src="https://s3.amazonaws.com/litlbot-assets/know.svg" alt="" class="img-rounded img-responsive">
                <h1 class="feature-title">Your digital assistant</h1>
                <p class='feature-text'>Take a pop quiz, do a feedback poll to assess retention and do more.</p>
            </div>
            <div class="col-lg-7 col-sm-7 col-md-7 centered">
                <img src="https://s3.amazonaws.com/litlbot-assets/hi.png" alt="" class="img-rounded img-responsive">
            </div>
        </div>
        <div class="row pep-feature-middle">
          <div class="col-lg-7 col-sm-7 col-md-7 centered">
            <img src="https://s3.amazonaws.com/litlbot-assets/feedback.png" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5 feedback">
              <img src="https://s3.amazonaws.com/litlbot-assets/insights.svg" alt="" class="img-rounded img-responsive">
              <h1 class="feature-title">Assess and align</h1>
                <p class='feature-text-feedback'>View feedback results in a live classroom and adapt in real time.</p>
            </div>

        </div>
        <div class="row pep-feature">
            <div class="col-lg-5 col-sm-5 col-md-5">
                <img src="https://s3.amazonaws.com/litlbot-assets/feedback.svg" alt="" class="img-rounded img-responsive">
                <h1 class="feature-title">Anonymous questions</h1>
                <p class='feature-text'>Students can ask questions anonymously and other students can up vote.</p>
            </div>
            <div class="col-lg-7 col-sm-7 col-md-7 centered">
              <img src="https://s3.amazonaws.com/litlbot-assets/ask.png" alt="" class="img-rounded img-responsive">
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_links %}
    <li><a href="/litlbot/privacy">PRIVACY POLICY</a></li>
    <li><a href="/litlbot/tos">TERMS OF USE</a></li>
    <li><a href="mailto:hi@litlbot.com?Subject=Hello!">CONTACT US</a></li>
{% endblock %}