{% extends 'snowball/bot_base.html' %}

{% block head %}
    <meta name="title" content="LitlBot : Slack bot for real-time interaction with students">
    <meta name="description" content="Litl is a Slack bot that enables realtime interaction with students in class, for a more personlized learning">
    <meta name="keywords" content="classroom, slack, slack bot, slackbot, student engagement">
    <meta property="og:title" content="LitlBot : Slack bot for real-time interaction with students" />
    <meta property="og:description" content="Litl is a Slack bot that enables realtime interaction with students in class, for a more personlized learning" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.litlbot.com/" />
    <meta property="og:image" content="https://dl.dropboxusercontent.com/u/18028285/litlbot_og.jpg" />
    <meta name="google-site-verification" content="" />
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="https://s3.amazonaws.com/litlbot-assets/favicon.png">

    <title>LitlBot : Slack bot for real-time interaction with students</title>
{% endblock %}

{% block css %}
    <link href="https://s3.amazonaws.com/litlbot-assets/css/attendance.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/litlbot-assets/css/litlbot.css" rel="stylesheet">
{% endblock %}

{% block navbar_links %}{% endblock %}

{% block background_container_element %}{% endblock %}

{% block content %}{% endblock %}

{% block footer_links %}{% endblock %}

{% block javascript %}
    {% block litlbot_javascript %}{% endblock %}
{% endblock %}